<template>
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" method="POST" @submit.prevent="createGroup">
                <div class="form-group">
                    <label for="name" class="col-md-4 control-label">Name</label>

                    <div class="col-md-6">
                        <input id="name"
                               type="text"
                               name="name"
                               class="form-control"
                               v-model="name"
                        >
                        <div v-show="errors.name" v-for="error in errors.name">
                            <span class="text-danger">{{error}}</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <input type="submit" value="Go" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</template>
<script>
    export default{
        data(){
            return{
                name: '',
                errors: {}
            }
        },

        methods: {
            createGroup() {
                this.$http.post('/groups', this.$data)
                    .then((response) => {
                        console.log(response.data);
                        this.addGroup(response.data);
                    })
                    .catch((error) => {
                        console.log(error.response.data);
                        this.errors = error.response.data;

                    });
            },

            addGroup(data) {
                this.$emit('applied', data);
            }
        }
    }

</script>













