<template>
    <div class="container">
        <div class="col-md-9 col-md-offset-3">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" @click="toggleEditView">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>

                    <form class="form-horizontal" role="form" method="POST" @submit.prevent="updateTask">
                        <div v-if="editView==true">
                            <input type="hidden" name="_method" value="PATCH"/>

                            <input type="text"
                                   name="title"
                                   class="form-control"
                                   v-model="TaskForm.title"
                                   @input="errors.title=[]"
                            >
                            <div v-show="errors.title" v-for="error in errors.title">
                                <span class="text-danger">{{error}}</span>
                            </div>
                        </div>
                        <div v-else><h1>{{task.title}}</h1></div>

                        <div class="table-responsive">
                            <table class="table ">
                                <tbody>
                                <tr>
                                    <th>Description</th>
                                    <td>
                                        <div v-if="editView==true">
                                            <input type="text"
                                                   name="description"
                                                   class="form-control"
                                                   v-model="TaskForm.description"
                                                   @input="errors.title=[]"
                                            >
                                            <div v-show="errors.description" v-for="error in errors.description">
                                                <span class="text-danger">{{error}}</span>
                                            </div>
                                        </div>
                                        <div v-else>{{ task.description }}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Owner</th>
                                    <td>{{ task.owner.name }}</td>
                                </tr>
                                <tr>
                                    <th>Category</th>
                                    <td>
                                        <div v-if="editView==true">
                                            <select id="category_id"
                                                    name="category_id"
                                                    class="form-control"
                                                    v-model="TaskForm.category_id"
                                            >
                                                <option value="">Please select..</option>
                                                <option v-for="category in categories" :value="category.id">{{category.name}}</option>
                                            </select>
                                            <div v-show="errors.category_id" v-for="error in errors.category_id">
                                                <span class="text-danger">{{error}}</span>
                                            </div>
                                        </div>
                                        <div v-else><span v-if="task.category!=null">{{ task.category.name }}</span></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Assigned to </th>
                                    <td>
                                        <div v-if="Object.keys(this.task.assigned_groups).length>0">Groups:
                                            <div v-for="group in task.assigned_groups">
                                                <span>{{ group.name }}</span>
                                            </div>
                                        </div>
                                        <div v-if="Object.keys(this.task.assigned_users).length>0">Users:
                                            <div v-for="user in task.assigned_users">
                                                <user-card :user="user"></user-card>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Created</th>
                                    <td>{{ task.created_at }}</td>
                                </tr>
                                </tbody>
                                <tr>
                                    <div v-if="editView==true">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import UserCard from '../shared/UserCard.vue';

    export default {
        props: ['task'],

        data(){
            return{
                editView: false,
                TaskForm: {
                    title: this.task.title,
                    description: this.task.description,
                    category_id: this.task.category_id
                },
                errors: {},
                categories: []
            }
        },

        components:{
            'user-card': UserCard
        },

        methods: {
            toggleEditView() {
                this.editView = true;

                this.$http.get('api/categories')
                .then((response) => {
                    this.categories = response.data;
                })
                .catch((error) => {
                    console.log(error);
                });
            },

            updateTask() {
                this.$http.patch('/tasks/'+this.task.id, this.TaskForm)
                    .then((response) => {
                        this.task.title = this.TaskForm.title;
                        this.task.description = this.TaskForm.description;
                        this.task.category_id = this.TaskForm.category_id;
                        this.editView = false;
                    })
                    .catch((error) => {
                        console.log(error.response.data);
                        this.errors = error.response.data;
                    });
            },
        }
    }
</script>
