<template>
    <div class="panel panel-info">
        <h4 class="panel-heading">
            <a :href="this.url">{{task.title}}</a>
        </h4>
        <div class="panel-body">
            <div class="form-group">{{task.description}}</div>
            <div class="form-group">{{task.assigned_time}}</div>

        </div>
    </div>

</template>
<script>
    export default{
        props: [
            'task',
            'url'
        ],
    }
</script>

