<template>
    <div>
        <div class="panel panel-info">
            <h4 class="panel-heading">{{user.name}}</h4>
            <div class="panel-body">
                <div class="form-group">{{user.email}}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user']
    }
</script>
