<template>
    <div>
        <form class="form-horizontal" role="form" method="POST" @submit.prevent="createTask">
            <!--title-->
            <div class="form-group">
                <label for="title" class="col-md-4 control-label">Title</label>
                <div class="col-md-6">
                    <input id="title"
                           type="text"
                           name="title"
                           class="form-control"
                           v-model="NewTask.title"
                           @input="errors.title=[]"
                    >
                    <div v-show="errors.title" v-for="error in errors.title">
                        <span class="text-danger">{{error}}</span>
                    </div>
                </div>
            </div>

            <!--description-->
            <div class="form-group">
                <label for="description" class="col-md-4 control-label">Description</label>
                <div class="col-md-6">
                    <textarea id="description"
                              type="text"
                              name="description"
                              class="form-control"
                              v-model="NewTask.description"
                              @input="errors.description=[]"
                    />
                    <div v-show="errors.description" v-for="error in errors.description">
                        <span class="text-danger">{{error}}</span>
                    </div>
                </div>
            </div>

            <!--category_id-->
            <div class="form-group">
                <label for="category_id" class="col-md-4 control-label">Category</label>
                <div class="col-md-6">
                    <select id="category_id"
                            name="category_id"
                            class="form-control"
                            v-model="NewTask.category_id"
                    >
                        <option value="">Please select..</option>
                        <option v-for="category in categories" :value="category.id">{{category.name}}</option>
                    </select>
                    <div v-show="errors.category_id" v-for="error in errors.category_id">
                        <span class="text-danger">{{error}}</span>
                    </div>
                </div>
            </div>

            <!--assigned_to-->
            <div class="form-group">
                <label for="assignment_type" class="col-md-4 control-label">Assignment Type</label>
                <div class="col-md-6">
                    <select id="assignment_type"
                            name="assignment_type"
                            class="form-control"
                            v-model="NewTask.assignment_type"
                    >
                        <option value="">Please select..</option>
                        <option value="App\Group">Group</option>
                        <option value="App\User">User</option>
                        <!--TODO: pass the array of const-->
                    </select>
                    <div v-show="errors.assignment_type" v-for="error in errors.assignment_type">
                        <span class="text-danger">{{error}}</span>
                    </div>
                </div>
            </div>

            <div class="form-group"  v-if="NewTask.assignment_type=='App\\Group'">
                <label for="assigned_to_group" class="col-md-4 control-label">Assigned To</label>
                <div class="col-md-6">
                    <select id="assigned_to_group"
                            name="assignment_id"
                            class="form-control"
                            v-model="NewTask.assignment_id"
                    >
                        <option value="">Please select..</option>
                        <option v-for="group in groups" :value="group.id">{{group.name}}</option>
                    </select>
                    <div v-show="errors.assignment_id" v-for="error in errors.assignment_id">
                        <span class="text-danger">{{error}}</span>
                    </div>
                </div>
            </div>

            <div class="form-group"  v-if="NewTask.assignment_type=='App\\User'">
                <label for="assigned_to_user" class="col-md-4 control-label">Assigned To</label>
                <div class="col-md-6">
                    <select id="assigned_to_user"
                            name="assignment_id"
                            class="form-control"
                            v-model="NewTask.assignment_id"
                    >
                        <option value="">Please select..</option>
                        <option v-for="user in users" :value="user.id">{{user.name}}</option>
                    </select>
                    <div v-show="errors.assignment_id" v-for="error in errors.assignment_id">
                        <span class="text-danger">{{error}}</span>
                    </div>
                </div>
            </div>

            <!--assigned_time-->
            <div class="form-group">
                <label for="assigned_time" class="col-md-4 control-label">Assigned time</label>
                <div class="col-md-6">
                    <input id="assigned_time"
                           type="date"
                           name="assigned_time"
                           class="form-control"
                           v-model="NewTask.assigned_time"
                    />
                    <div v-show="errors.assigned_time" v-for="error in errors.assigned_time">
                        <span class="text-danger">{{error}}</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                    <input type="submit" value="Add Task" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</template>
<script>
    export default{
        props: ['assignmentTypes'],

        data(){
            return{
                NewTask: {
                    title: '',
                    description: '',
                    category_id: '',
                    assignment_type: '',
                    assignment_id: '',
                    assigned_time: '',
                },
                categories: [],
                users: [],
                groups: [],
                errors: {}
            }
        },

        created() {
            this.$http.get('api/categories')
                .then((response) => {
                    this.categories = response.data;
                })
                .catch((error) => {
                    console.log(error);

                });

            this.$http.get('api/users')
                .then((response) => {
                    this.users = response.data;
                })
                .catch((error) => {
                    console.log(error);

                });

            this.$http.get('api/groups')
                .then((response) => {
                    this.groups = response.data;
                })
                .catch((error) => {
                    console.log(error);

                });
        },

        methods: {
            createTask() {
                this.$http.post('/tasks', this.NewTask)
                    .then((response) => {
                        console.log(response.data);
                        this.addTask(response.data);
                        this.NewTask = {};
                    })
                    .catch((error) => {
                        console.log(error.response.data);
                        this.errors = error.response.data;

                    });
            },

            addTask(data) {
                this.$emit('applied', data);
            }
        }
    }
</script>
